@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
  background-color: lightgray;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}
body {
  display: grid;
  place-content: center;
}
.container {
  background-color: var(--White);
  max-width: 700px;
}
.container > * {
  padding: 1rem;
}
.top {
  display: flex;
  justify-content: space-between;
}
.notification-top {
  display: flex;
  gap: 1rem;
}
.notification-header {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--Very-dark-blue);
}
.notification-top > span {
  width: 32px;
  height: 27px;
  background-color: var(--Blue);
  border-radius: 5px;
  color: var(--White);
  font-weight: 800;
  text-align: center;
  align-self: center;
  line-height: 1.75;
}
.mark {
  color: var(--Grayish-blue);
  text-align: center;
  cursor: pointer;
  line-height: 2.5;
  font-weight: 800;
  font-size: 16px;
}
.columns {
  display: flex;
  gap: 1rem;
}
.comment-box {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.info {
  position: relative;
  width: 100%;
}
.main > * {
  padding: 1rem 1rem;
  margin: 0.5rem 0;
}
.info > small {
  color: var(--Grayish-blue);
  font-weight: 500;
  font-size: 15px;
}
.comment-box p {
  color: var(--Dark-grayish-blue);
  line-height: 1.6;
}
.comment-box .news,
.info .chess {
  color: var(--Dark-grayish-blue);
  font-weight: 800;
  margin-left: 3px;
}
.message-box {
  border: 1px solid var(--Very-light-grayish-blue2);
  border-radius: 5px;
  max-width: 90%;
  padding: 1rem;
  font-size: 17px;
  position: relative;
  margin-left: auto;
  cursor: pointer;
  transition: 0.5s all;
  color: var(--Dark-grayish-blue);
}
.message-box:hover {
  background-color: var(--Light-grayish-blue-2);
}
.name {
  font-weight: 800;
  font-size: 17px;
  word-spacing: 1px;
  color: var(--Very-dark-blue);
  margin-right: 5px;
}
.deney {
  flex-direction: column;
  width: 100%;
}
.ago {
  color: var(--Grayish-blue);
}
.unique {
  cursor: pointer;
}
.name:hover,
.news:hover,
.mark:hover,
.chess:hover {
  color: var(--Blue);
}
.unread p:first-of-type::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  background-color: red;
  margin-top: 10px;
  margin-left: 8px;
}
.unread {
  background-color: var(--Light-grayish-blue-2);
  cursor: pointer;
}
@media (max-width: 30em) {
  .container {
    max-width: 450px;
  }
  .main > * {
    padding: 1rem 1rem;
  }
  .info,
  .name,
  .ago {
    font-size: 17px;
  }
  .message-box {
    max-width: 70%;
  }
}
